/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */

body {
  color: black;
  transition: background 0.3s linear;
}

* {box-sizing: border-box;}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

body.dark {
  background-color: #292c35;
  color: #fff;
  transition: 0.3s linear;
} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

body.dark a {
  color: #fff;
}

body.dark a:hover {
  color: #fff;
  text-decoration: underline;
}

body.dark a:visited {
  color: #fff;
}

body.dark a:active {
  color: #fff;
}

body.dark a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  filter: invert(100%);
  margin: 0 3px 0 5px;
}

body.dark .checkbox-label {
  background-color: #292c35;
}

body.dark a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  img{hue-rotate(90deg);
  margin: 0 3px 0 5px;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #FFF;
}
/*
.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
*/
